.contenedor-verTurnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 91vh; */
    margin-top: 70px;
}


.padre-verTurnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(180deg, #2d4a7548 0%, #ffffff41 100%); */
    background-color: #ffffffd3;
    box-shadow: #000000 0 0 10px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    width: 100vw;
    max-width: 800px;

    /* text-shadow: #000000 0 0 2px; */
    color: #3a3a3a;
}

.padre-verTurnos h1 {
    border-bottom: #98721d 2px solid;
    width: 100%;
    text-align: center;
    padding: 5px;
    letter-spacing: 5px;
}

.contenedor-listaTurnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.contenedor-listaTurnos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contenedor-listaTurnos li {
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: #98711d4d 2px solid;
    display: flex;
    flex-direction: column;
}

.contenedor-listaTurnos li p {
    margin: 0;
    padding: 5px;
}