.fecha-turno {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.fecha-turno label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.ocupado .SelectorTiempo {
  margin-top: 10px;
  width: 300px;
}

.registros textarea {
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
}

@media screen and (max-width: 500px) {
  .contenedor-turnos {
    width: 100%;
    padding: 10px;
  }

  .padre-GenerarTurnos {
    width: 100%;
    padding: 10px;
  }

  .campo input,
  .campo textarea {
    width: 300px;
  }
}

.qr-container img {
  margin-bottom: 10px;
}
