.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.cambio-contrasena {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.miPerfil {
  /* border: #98711d69 1px solid; */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.miPerfil ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.editar-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.editar-avatar input[type="file"] {
  margin-bottom: 10px;
}

.editar-avatar button {
  margin-top: 10px;
}

.avatar-preview {
  margin-top: 10px;
}

.avatar-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cambio-contrasena button {
  margin-top: 10px;
}

.estilo-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
