body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.contenedor-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    margin-top: 70px;
}

.padre-body-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.noMenuLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background: linear-gradient(180deg, #2d4a7548 0%, #ffffff41 100%); */
    background-color: #ffffffd3;
    box-shadow: #000000 0 0 10px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    width: 100vw;
    max-width: 800px;
    min-height: 500px;

    /* text-shadow: #000000 0 0 2px; */
    color: #3a3a3a;
    
}

.padre-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background: linear-gradient(180deg, #2d4a7548 0%, #ffffff41 100%); */
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    width: 100vw;
    max-width: 800px;
    min-height: 500px;
    
    /* text-shadow: #000000 0 0 2px; */
    color: #3a3a3a;
}

.padre-titulo {
    border-bottom: #98721d 2px solid;
}

.padre-body p {
    font-family: 'Roboto', sans-serif;
}

.padre-body span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.padre-recordatorios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 180px;
}

.padre-recordatorios h3 {
    padding: 10px;
}

.contenedor-padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contenedor-padre h3 {
    padding: 10px;
}

.padre-menu-texto {
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    padding: 5px;
}

.padre-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* margin: 0 auto; */
    top: 230px;
}

.padre-menu-texto i {
    font-size: 20px;
    color: #2b2b2b;
}

.padre-menu-texto i:hover {
    cursor: pointer;
    color: #98721d;
    border-radius: 5px;
    height: 100px;
}

.padre-menu-texto i {
    transition: transform 0.3s ease;
}
.padre-menu-texto.rotar {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

@media screen and (max-width: 500px) {
    
    .noMenuLateral {
        width: 100%;
        padding: 10px;
    }

    
}