.contenedor-turnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 91vh; */
    margin-top: 70px;
}

.padre-GenerarTurnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(180deg, #2d4a7548 0%, #ffffff41 100%); */
    background-color: #ffffffd3;
    box-shadow: #000000 0 0 10px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    width: 100vw;
    max-width: 800px;

    /* text-shadow: #000000 0 0 2px; */
    color: #3a3a3a;
}

.padre-GenerarTurnos h1 {
    border-bottom: #98721d 2px solid;
    width: 100%;
    text-align: center;
    padding: 5px;
    letter-spacing: 5px;
}

.fieldset-turnos {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    /* border: #98721d 2px solid; */
}

.campo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.campo label {
    font-family: 'Rboto', sans-serif;
    font-weight: 400;
    width: 100px;
}

.campo input,
.campo textarea {
    font-family: 'Rboto', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: #98721d 1px solid;
    border-radius: 5px;
}

.campo input:focus,
.campo textarea:focus {
    transition: 0.2s;
    outline: #0356f0 1px solid;
    box-shadow: 0 0 5px #063b9e;
}

.campo textarea {
    min-height: 100px;
}

.form-turnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form-turnos .btn-submit {
    background-color: #343b46;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-turnos .btn-submit:hover {
    background-color: #98721d;
}