/* Variables CSS para colores */
:root {
  --color-light-bg: #0360b1;
  --color-light-bg-secondary: #f0f0f06e;
  --color-light-text: #000;
  --color-light-header: #98721d;
  --color-light-link: #2b2b2b;
  --color-light-link-hover: #98721d;
  --color-light-button-hover: #98721d;
  --color-light-day-bg: #f0f0f0;
  --color-light-day-ocupado-bg: #970101;
  --color-light-day-selected-bg: #98721d;

  --color-dark-bg: #0043ff;
  --color-dark-bg-secondary: #15113dd0;
  --color-dark-text: #fff;
  --color-dark-header: #f0a70a;
  --color-dark-link: #ffffff;
  --color-dark-link-hover: #f0a70a;
  --color-dark-button-hover: #f0a70a;
  --color-dark-day-bg: #15113d;
  --color-dark-day-ocupado-bg: #970101;
  --color-dark-day-selected-bg: #f0a70a;

  --transition-duration: 0.5s;
}

/* Estilos globales para el tema */
body.light-mode,
body.light-mode .App,
body.dark-mode,
body.dark-mode .App {
  transition: var(--transition-duration);
  background-attachment: fixed;
  background-size: cover;
}

body.light-mode,
body.light-mode .App {
  background-color: var(--color-light-bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FFFFFF' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%230360B1' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%232b68b6' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%234071ba' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%235179bf' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%236082c4' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%236d8bc8' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%237b94cd' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23879dd2' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2394a7d6' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a0b0db' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23acbadf' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23b8c3e4' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23c4cde8' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23d0d7ed' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23dce1f1' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23e7ebf6' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23f3f5fb' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23FFFFFF' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--color-light-text);
}

body.dark-mode,
body.dark-mode .App {
  background-color: var(--color-dark-bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23232323' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%230043FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%231741f0' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23223fe1' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23293cd3' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%232d3ac4' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%233038b6' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%233236a8' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2333339a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2333318c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23332f7f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23322d72' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23302b65' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%232e2858' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232c264c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2329243f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23252234' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23211f28' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%231D1D1D' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--color-dark-text);
}

/* Estilos para el switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: var(--transition-duration);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: var(--transition-duration);
}

body.light-mode .slider::before {
  background-color: #061944;
}

input:checked + .slider {
  background-color: #0c395e;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.round {
  border-radius: 34px;
}

.round::before {
  border-radius: 50%;
}

/* Estilos para el header */
body.light-mode .contenedor-header span,
body.dark-mode .contenedor-header span,
body.light-mode .contenedor-header h1,
body.dark-mode .contenedor-header h1 {
  transition: var(--transition-duration);
}

body.light-mode .contenedor-header span {
  color: var(--color-light-text);
}

body.dark-mode .contenedor-header span {
  color: var(--color-dark-text);
}

body.light-mode .contenedor-header h1 {
  color: var(--color-light-header);
}

body.dark-mode .contenedor-header h1 {
  color: var(--color-dark-header);
}

/* Estilos para el body */
body.dark-mode .noMenuLateral,
body.dark-mode .contenedor-nav,
body.dark-mode .padre-pacientes,
body.dark-mode .padre-registro,
body.dark-mode .padre-diagnostico,
body.dark-mode .padre-diagnosticoPaciente,
body.dark-mode .padre-historial-clinico,
body.dark-mode .padre-historial-clinico-paciente,
body.dark-mode .padre-editar-historial,
body.dark-mode .padre-turnos,
body.dark-mode .padre-GenerarTurnos,
body.dark-mode .padre-verTurnos,
body.light-mode .noMenuLateral,
body.light-mode .contenedor-nav,
body.light-mode .padre-pacientes,
body.light-mode .padre-registro,
body.light-mode .padre-diagnostico,
body.light-mode .padre-diagnosticoPaciente,
body.light-mode .padre-historial-clinico,
body.light-mode .padre-historial-clinico-paciente,
body.light-mode .padre-editar-historial,
body.light-mode .padre-turnos,
body.light-mode .padre-GenerarTurnos,
body.light-mode .padre-verTurnos {
  transition: var(--transition-duration);
}

body.dark-mode .noMenuLateral,
body.dark-mode .contenedor-nav,
body.dark-mode .padre-pacientes,
body.dark-mode .padre-registro,
body.dark-mode .padre-diagnostico,
body.dark-mode .padre-diagnosticoPaciente,
body.dark-mode .padre-historial-clinico,
body.dark-mode .padre-historial-clinico-paciente,
body.dark-mode .padre-editar-historial,
body.dark-mode .padre-turnos,
body.dark-mode .padre-GenerarTurnos,
body.dark-mode .padre-verTurnos {
  background-color: var(--color-dark-bg-secondary);
  color: var(--color-dark-text);
}

body.light-mode .noMenuLateral,
body.light-mode .contenedor-nav,
body.light-mode .padre-pacientes,
body.light-mode .padre-registro,
body.light-mode .padre-diagnostico,
body.light-mode .padre-diagnosticoPaciente,
body.light-mode .padre-historial-clinico,
body.light-mode .padre-historial-clinico-paciente,
body.light-mode .padre-editar-historial,
body.light-mode .padre-turnos,
body.light-mode .padre-GenerarTurnos,
body.light-mode .padre-verTurnos {
  background-color: var(--color-light-bg-secondary);
  color: var(--color-light-text);
}

/* Estilos para los enlaces */
body.dark-mode a,
body.light-mode a {
  transition: var(--transition-duration);
}

body.dark-mode a {
  color: var(--color-dark-link);
}

body.dark-mode a:hover {
  color: var(--color-dark-link-hover);
}

body.light-mode a {
  color: var(--color-light-link);
}

body.light-mode a:hover {
  color: var(--color-light-link-hover);
}

/* Estilos para los botones */
body.dark-mode .acciones-paciente button,
body.light-mode .acciones-paciente button {
  transition: var(--transition-duration);
}

body.dark-mode .acciones-paciente button {
  color: var(--color-dark-link);
}

body.light-mode .acciones-paciente button {
  color: var(--color-light-link);
}

body.dark-mode .acciones-paciente button:hover {
  color: var(--color-dark-button-hover);
}

body.light-mode .acciones-paciente button:hover {
  color: var(--color-light-button-hover);
}

/* Estilos para los recordatorios */
body.dark-mode .padre-recordatorios .noticias,
body.light-mode .padre-recordatorios .noticias {
  transition: var(--transition-duration);
}

body.dark-mode .padre-recordatorios .noticias {
  color: var(--color-dark-text);
}

body.light-mode .padre-recordatorios .noticias {
  color: var(--color-light-text);
}

/* Estilos para el Nav */
body.dark-mode .contenedor-nav a,
body.light-mode .contenedor-nav a,
body.dark-mode .contenedor-nav .active,
body.light-mode .contenedor-nav .active {
  transition: var(--transition-duration);
}

body.dark-mode .contenedor-nav a {
  color: var(--color-dark-link);
}

body.light-mode .contenedor-nav a {
  color: var(--color-light-text);
}

body.dark-mode .contenedor-nav .active {
  color: var(--color-dark-link-hover);
}

body.light-mode .contenedor-nav .active {
  color: var(--color-light-link-hover);
}

body.light-mode .btnSignOut a:hover,
body.dark-mode .btnSignOut a:hover {
  color: #f00a0a;
}

/* Estilos responsivos */
@media screen and (max-width: 500px) {
  body.light-mode .padre-nav,
  body.dark-mode .padre-nav {
    backdrop-filter: blur(10px);
  }

  body.light-mode .padre-nav {
    background-color: #fffffff5;
  }

  body.dark-mode .padre-nav {
    background-color: #15113df5;
  }

  body.dark-mode .hamburger {
    color: var(--color-dark-text);
  }
}

/* Estilos para Ver Turnos */
body.dark-mode .titulo-mes:hover,
body.light-mode .titulo-mes:hover,
body.dark-mode .titulo-mes.open,
body.light-mode .titulo-mes.open {
  transition: var(--transition-duration);
}

body.dark-mode .titulo-mes:hover,
body.dark-mode .titulo-mes.open {
  color: var(--color-dark-link-hover);
}

body.light-mode .titulo-mes:hover,
body.light-mode .titulo-mes.open {
  color: var(--color-light-link-hover);
}

/* Estilos para los días */
body.dark-mode .day,
body.light-mode .day,
body.dark-mode .day.ocupado,
body.light-mode .day.ocupado,
body.dark-mode .day.selected,
body.light-mode .day.selected {
  transition: var(--transition-duration);
}

body.dark-mode .day {
  background-color: var(--color-dark-day-bg);
  color: var(--color-dark-text);
}

body.dark-mode .day:hover {
  background-color: #33289c;
}

body.dark-mode .day.ocupado {
  background-color: var(--color-dark-day-ocupado-bg);
  color: var(--color-dark-text);
}

body.dark-mode .day.selected {
  background-color: var(--color-dark-day-selected-bg);
  color: white;
}

body.light-mode .day {
  background-color: #e4e4e4;
  color: var(--color-light-text);
}

body.light-mode .day:hover {
  background-color: #a0a0a0;
}

body.light-mode .day.ocupado {
  background-color: var(--color-light-day-ocupado-bg);
  color: var(--color-dark-text);
}

body.light-mode .day.selected {
  background-color: var(--color-light-day-selected-bg);
  color: white;
}

/* Estilos para Calendario */

body.dark-mode .calendario {
  transition: 0.5s;
  background-color: #221b67;
  color: var(--color-dark-text);
}

body.dark-mode .calendario .header button {
  background-color: #44444400;
  color: white;
}

body.dark-mode .header .selectorMes {
  transition: 0.5s;
  color: #ffffff;
}

body.light-mode .calendario {
  transition: 0.5s;
  background-color: #f0f0f0;
  color: var(--color-light-text);
}

body.light-mode .calendario .header button {
  background-color: #44444400;
  color: rgb(0, 0, 0);
}

body.light-mode .header .selectorMes {
  transition: 0.5s;
  color: #444444;
}

/* Estilos para Diagnóstico */
body.light-mode .boton-registro button {
  color: var(--color-light-text);
}

/* Estilos para Administrador */
body.light-mode .contenedor-menuAdministrador ul li a,
body.dark-mode .contenedor-menuAdministrador ul li a,
body.light-mode .contenedor-menuAdministrador ul li a:hover,
body.dark-mode .contenedor-menuAdministrador ul li a:hover {
  transition: var(--transition-duration);
}

body.light-mode .contenedor-menuAdministrador ul li a {
  color: var(--color-light-text);
}

body.light-mode .contenedor-menuAdministrador ul li a:hover {
  color: var(--color-light-link-hover);
}

body.dark-mode .contenedor-menuAdministrador ul li a {
  color: var(--color-dark-link);
}

body.dark-mode .contenedor-menuAdministrador ul li a:hover {
  color: var(--color-dark-link-hover);
}
