/* Estilos globales para el tema */
body.light-mode,
body.light-mode .App {
    background-image: url(/fondo02.png);
    color: #000;
}

body.dark-mode,
body.dark-mode .App {
    background-image: url(/fondoDark.png);
    background-color: #121212;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0c395e;
}

input:checked+.slider::before{
    transform: translateX(26px);
}
/* Puedes seguir añadiendo más estilos específicos para cada modo */
/* body.light-mode .header {
    background-color: #f0f0f0;
}

body.dark-mode .header {
    background-color: #333;
}

body.light-mode .nav {
    background-color: #e0e0e0;
}

body.dark-mode .nav {
    background-color: #444;
} */

/* Más estilos personalizados */