/* Resetear márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  /* border: red solid 1px; */
}

/* Estilos para el contenedor principal de la aplicación */
.App {
  min-height: 100vh;
  width: 100vw;
  background-image: url(/fondo02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}