/* Resetear márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

/* Estilos para el contenedor principal de la aplicación */
.App {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../public/fondo02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}