.contenedor-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffffd3;
  box-shadow: #000000 0 0 10px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 6px;
  width: 100vw;
  max-width: 800px;
  position: relative;
  z-index: 10;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.position {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.padre-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.padre-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.padre-nav ul li {
  margin: 0 10px;
  list-style: none;
}

.padre-nav ul li a {
  font-family: "Roboto", sans-serif;
  margin-inline: 10px;
  text-decoration: none;
}

a {
  color: #3a3a3a;
}

.padre-nav ul li a:hover {
  color: #98721d;
}

.btnSignOut {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.active {
  color: #98721d;
}

@media screen and (max-width: 500px) {
  .contenedor-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: block;
  }

  .padre-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 15;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .padre-nav.open {
    display: flex;
    transform: translateY(0);
  }

  .padre-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .padre-nav ul li {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  .padre-nav ul li a {
    color: white;
    font-size: 20px;
  }

  .position {
    position: static;
    margin: 20px 0;
  }
}
